<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer une figure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vous vous apprétez à supprimer une figure, il ne sera plus possible de la restaurer par la suite</p>
                <p>Veuillez confirmer votre choix au abandonner</p>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-danger" id="confirm-delete">Confirmer</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>