
.modal-custom .modal{

    max-height: 97vh;
    max-width: 100vw;
}

.modal-custom .modal-dialog{
    max-width: 100%;
    height: 100%;
}
.modal-custom .modal-content{
    background-color: transparent;
    border: 0;
    height: 100%;
}
.modal-custom .modal-body{

    height: 100%;
}
.modal-custom .modal-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modal-custom .modal-header{
    display: none;
}