{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid center-div">
    <div class="row " >
        <div class="col-md-3">

        </div>
        <div class="col-md-6 col-sm-12 bg-light p-4">
            <h1 style="color: #476f9e" class=" mb-5">mot de passe perdu ?</h1>
            {% if message is not null %}
                <div class="alert-primary p-3">{{ message }}</div>
            {% endif %}
            <form action="{{ path('account_forget') }}" method="post">
                <div class="form-group">
                    <label for="email">Votre email</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class=" btn btn-primary"> Envoyer </button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
